*{
    margin: 0;
    padding:0;
    list-style: none;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.container-fluid{
    width: 100%;
    height: 613px;
    background: url("../img/beijing.jpg") no-repeat center;
    background-size: 1349px 613px;
    padding:20px 30px 0 30px;
}
.top ul{
    width:100%;
    height: 31px;
    margin-top:11px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.top>ul>li a{
    color: #ffffff;
    line-height: 31px;
    font-weight: bold;
    text-align: center;
}
.top>ul>li a:hover{
    border-bottom: 1px solid #fff;
    color: white;
}
main>h1{
    height: 59px;
    /*font-size: 59px;*/
    line-height: 59px;
    color: white;
    text-align: center;
    margin-top: 131px;
}
main>i{
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    color: #00ffff;
    font-style:normal;
    text-align: center;
    display: block;
    margin-top: 50px;
}
.icon{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.icon>li{
    height: 62px;
    width: 62px;
    margin: 1px 2px 2px 1px;
    background: url("../img/icon.png") no-repeat -1px;
}
.icon>li:nth-child(2){
    background: url("../img/icon.png") no-repeat -129px;
}
.icon>li:nth-child(3){
    background: url("../img/icon.png") no-repeat -255px;
}
.icon>li:nth-child(4){
    background: url("../img/icon.png") no-repeat -319px;
}
main>div{
    width:55px;
    height: 55px;
    border-radius: 50%;
    margin: 88px auto;
    border: 1px solid #fff;
}
.icon-arrowdown{
    font-size:30px;
    color: white;
    display: block;
    line-height: 55px;
    text-align: center;
    animation: translateY 3s infinite;
}
@keyframes translateY{
    from{
        color: white;
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(20px);
        color: rgba(255,255,255,0.5);
    }
}
.produce{
    width: 100%;
    /*height: 568px;*/
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox{
    width:100%;
    /*height: 368px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url("../img/null6162030d9737d24a.jpg") no-repeat center;
    background-size: 500px 500px;
    animation:scale 2s;
}
@keyframes scale {
    from{
        transform: scale(1,1);
    }
    50%{
        transform:scale(1.2,1.2) ;
    }
    100%{
        transform:scale(1,1);
    }
}
.square{
    width: 762px;
    height: 368px;
    border-radius:20px;
    padding: 20px 20px;
    background: lavender;
}
p{
    font-weight: bold;
}

section span{
    font-size: 20px;
    color: #333;
    text-align: center;
}
/*知识技能开始*/
section{
    width: 100%;
    height: 100%;
    /*background:rgba(185,176,182,0.3);*/
}
.skill{
    width: 100%;
    height: 500px;
    /*background:#00ffff;*/
}
.character{
    font-size: 34px;
    color: #333;
    text-align: center;
}
.kind{
    width: 100%;
    height: 300px;
    /*background: red;*/
    margin-top: 80px;
}
.kind1{
    width: 526px;
    height: 50px;
    /*background:#ff6700;*/
    float: left;
    margin-top: 30px;
    margin-left: 90px;
}
.name{
    font-size: 15px;
    color: #333;
}
.know{
    width:526px;
    height: 30px;
    background: #ccc;
    border-radius: 5px;
}
.know1{
    width: 365px;
    height: 30px;
    background: #117d8b;
    border-radius: 5px;
}
.know2{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background: brown;
}
.know3{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: deepskyblue;
}
.know4{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    background: purple;
}
.know5{
    width: 260px;
    height: 30px;
    background: #ff6700;
    border-radius: 5px;
}
/*知识技能结束*/
/*个人作品开始*/
.show{
    width: 100%;
    height:100%;
    overflow: hidden;
    background:rgba(185,176,182,0.3) ;
}
.word{
    height: 34px;
    font-size: 34px;
    line-height: 34px;
    color: #000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
section ul{
    width:auto;
    height:100%;
    padding: 0 30px 20px 30px;
}
section ul li{
    width: 260px;
    height: 260px;
    background: url("../img/mi.jpg") no-repeat center;
    background-size: 300px 300px;
    position: relative;
    border-radius: 30px;
    margin-right: 55px;
    margin-bottom: 20px;
    float: left;
}
section ul li:nth-child(2){
    background: url("../img/og_wechat.png") no-repeat center;
    background-size: 260px 260px;
    position: relative;
    border-radius: 30px;
}
section ul li:nth-child(3){
    background: url("../img/c94ba.png")no-repeat center;
    background-size: 260px 260px;
    position: relative;
}
section ul li:nth-child(4){
    background: url("../img/aibox.jpg")no-repeat center;
    background-size: 260px 260px;
    position: relative;
    border-radius: 30px;
}
section ul li:nth-child(5){
    background: url("../img/weather.jpg") no-repeat center;
    background-size: contain;
    border-radius: 55px;
    position: relative;
}
section ul li:nth-child(6){
    background: url("../img/dazi.jpg") no-repeat center;
    background-size: contain;
}
section ul li:nth-child(7){
    background: url("../img/todo.png") no-repeat center;
    background-size: contain;
}
.minet{
    width: 100px;
    height: 30px;
    /*background: #ff6700;*/
    position: absolute;
    top: 220px;
    left: 75px;
    font-size: 20px;
    line-height: 25px;
    color: white;
}
.applenet{
    width: 50px;
    height: 50px;
    background: #A7B2B8;
    position: absolute;
    top: 110px;
    left: 105px;
    font-size: 20px;
    line-height: 25px;
    color: white;
}
.aibox{
    position: absolute;
    top: 170px;
    left: 90px;
}
.weather{
    position: absolute;
    bottom: 0;
    left: 75px;
}
.game{
     color: #000;
 }
.firm{
    position: absolute;
    bottom: 0;
    top: 230px;
    left: 90px;
}
footer{
    width: 100%;
    height: 586px;
    background:rgba(16,59,91,0.6);
    overflow: hidden;
}
footer>h1{
    height: 49px;
    color: #fff;
    margin-top: 142px;
    text-align: center;
    font-weight: bold;
}
.tel{
    height: 22px;
    font-size: 22px;
    color:#fff;
    text-align: center;
    margin-top: 60px;
}
footer span{
    color: #000;
}
.email{
    height: 23px;
    font-size: 23px;
    color:white;
    text-align: center;
    margin-top: 15px;
}
footer>ul>li:nth-child(5){
    background: url("../img/icon.png") no-repeat -383px;
}
/*个人作品结束*/
@media screen and (min-width: 768px){
    .square{
        width: 768px;
        height: 246px;
    }
    .produce{
        height: 868px;
    }
    main>h1{
        font-size: 30px;
    }
    footer>h1{
        font-size: 29px;
    }
}
@media screen and (min-width: 992px){
    .square{
        width: 520px;
        height: 464px;
    }
    .produce{
        height: 568px;
    }
    main>h1{
        font-size: 59px;
    }
    footer>h1{
        font-size: 49px;
    }
}
@media screen and (min-width: 1200px){
    .square{
        width: 762px;
        height: 368px;
    }
    .produce{
        height: 568px;
    }
    main>h1{
        font-size: 59px;
    }
    footer>h1{
        font-size: 49px;
    }
}